{% extends "base_template.html" %}

{% block standards %}

<table>
		<tr>
			<td>Laboratory Standards and<br />
			Equipment Used</td>
			<td>Serial Number</td>
			<td>Certificate Number</td>
		</tr>
		<tr>
			<td> Dead Weight Tester</td>
			<td>13233</td>
			<td>P/233/02</td>
		</tr>
        <tr>
			<td>ECOSCAN TEMP6</td>
			<td>458909</td>
			<td>201506011022DD</td>
		</tr>
	<table>
	
	

		
{% endblock%}

{% block results %}

<h3>Pressure</h3>
	<table>
		<tr>
			<td>Total weight(g)</td>
			<td>Calculated pressure</td>
			<td>Actual Reading</td>
			<td>Correction</td>
		</tr>
		{{fields}}
	</table>
	<p><b>The uncertainty of the pressure measurement was estimated to be ± 
	{{uncertainty}}.(95% confidence level)</b>
	</p>
	
<h3>Temperature</h3>

<table>
		<tr>
			<td>Actual temperature</td>
			<td>Indicated reading</td>
			<td>Correction</td>
		</tr>
		{{fields_temperature}}
	</table>
	<p><b>The uncertainty of the measurements was estimated to be ± 
	{{uncertainty_temperature}}.(95% confidence level)</b>
	
{% endblock %}

{% block traceability %}
<p><b>For Pressure:</b>The standard pressure calibrator is traceable to Superb Instrumentation 
		through calibration certificate numbers P/807/02 AND 0795105</p>
		
<p><b>For Temperature:</b>The reference thermometer used is traceable to REPCAL 
		through calibration certificate number 146-03041216.</p>
		
{% endblock %}