{% extends "base_template.html" %}
{% block standards %}
	<table>
		<tr class="no_b">
			<td class="no_b">Laboratory Standards and<br />
			Equipment Used</td>
			<td class="no_b">Serial Number</td>
			<td class="no_b">Certificate Number</td>
		</tr>
		
	<table>
	
{% endblock %}
{% block results %}
		{{fields}}


	<p><b>The uncertainty of the measurement was estimated to be + 
	{{uncertainty}}{{units}}.(95% confidence level)</b>
	</p>
	
{% endblock %}
{% block traceability %}
<p>The standard set of mass pieces is traceable to CSIR South Africa 
through calibration certificate number MV\M-3640A</p>
{% endblock %}