{% extends "base_template.html" %}
{% block standards %}
	<table>
		<tr class="no_b">
			<td class="no_b">Laboratory Standards and<br />
			Equipment Used</td>
			<td class="no_b">Serial Number</td>
			<td class="no_b">Certificate Number</td>
		</tr>
		<tr class="no_b">{{standard}}
		</tr>
	<table>
	
{% endblock %}
{% block results %}
	<table>
		<tr>
			<td>Buffer Used</td>
			<td>Indicated Reading<br />(before calibration)</td>
			<td>Difference</td>
		</tr>
		{{fields}}
	</table>
    <br />
    {{corrections}}
	<p><b>The uncertainty of the measurement was estimated to be + 
	{{uncertainty}}(95% confidence level)</b>
	</p>
	
{% endblock %}
	
	<h3>6	Traceability:</h3>
	{% block traceability %}
    {{traceability}}
	{% endblock %}
	
	