{% extends "base_template.html" %}
{% block standards %}
	<table>
		<tr class="no_b">
			<td class="no_b">Laboratory Standards and<br />
			Equipment Used</td>
			<td class="no_b">Serial Number</td>
			<td class="no_b">Certificate Number</td>
		</tr>
		{{standard}}
	<table>
	
{% endblock %}
{% block results %}
	
		{{fields}}
	<br />
	<p><b>The uncertainty of the measurements was estimated to be ± 
	{{uncertainty}} {{units}}.(95% confidence level)</b>
	</p>
	
{% endblock %}

{% block traceability %}
<p>The reference thermometer used is traceable to REPCAL 
through calibration certificate number 146-03041216.</p>
{% endblock %}
