{% extends "base_template.html" %}

{% block standards %}
<table>
    <tr>
        <td>Laboratory Standards and Equipment<br /> and Equipment Used</td>
        <td>Serial No.</td>
        <td>Certificate No.</td>
    </tr>
    <tr>
        <td>Fluke 5100B</td>
        <td>4811139</td>
        <td>26807</td>
    </tr>
</table>
{% endblock %}

{% block results %}
<table>
    <tr>
        <td>Input</td>
        <td>Indicated Reading</td>
        <td>Correction</td>
        <td>Uncertainty</td>
    </tr>
    {{fields}}
    </table>
    <br />
    <p><b>The uncertainty of the measurements was estimated to be ± 
	{{uncertainty}} {{units}}.(95% confidence level)</b>
	</p>

{% endblock %}

{% block traceability %}
<p><b>Traceability</b>: The Fluke calibrator us traceable to REPCAL Services cc, South Africa
through certificate number 146-03041216</p>
{% endblock %}