{% extends "app.html"%}
{% block title %}<title>Conditions</title>{% endblock %}
{% block content%}
<form method="POST" action="create_certificate">
    <fieldset>
        <legend>Calibration conditions</legend>
        <p>Temperature:</p>
        <input type="text" name= "temp">
        <p>Humidity:</p>
        <input type="text" name= "humidity">
        <p>Id, (don't change):</p>
        <input type="text" name= "id" value="{{id}}">
        <p>Type of calibration(don't change):</p>
        <input type="text" name= "_type" value="{{_type}}">
    <button>Submit</button>
    </fieldset>
</form>
{% endblock %}