<!Doctype html>
<html>
	<head>
		{% block title %}<title>Login</title>{% endblock %}
		<meta charset = "UTF-8" >
		<link rel="stylesheet" href="css/app.css" >
        <link rel="stylesheet" href="css/forms.css" >
	</head>
	<body>
		<div id ="image" >
			<img width="600" height= "300" src="images/iso.png">
		</div>
		<div id="login">
			<form method="POST" action="authenticate">
				<fieldset>
					<legend>Login</legend>
					Name:<span id="name_check">{{user}}</span><br />
					<input type="text" name= "user" id="_user"><br />
					Password:<span id="pass_check">{{password}}</span><br />
					<input type="password" name = "password" id="_pasword"><br /> 
					<button>Login</button><br />
					Don't have an account?<a href="signup" style="color: blue;">Signup!</a>
				</fieldset>
			</form>
		</div>
	</body>
</html>